<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&family=Roboto:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
    <title>Lucas Silva</title>
</head>
<body>
    <header class="header-container">
        <div class="div-header">
        <h1> LS </h1>
        <nav class="nav-bar">
            <div class="toggle-btn">
                <span id="btn-hamburguer">
                    &#9776;
                </span>
            </div>
            <ul class="ul-nav">
                <li><a href="">01 About Me </a></li>
                <li><a href="">02- Skills </a></li>
                <li><a href="">03- Projects </a></li>
            </ul>
        </nav>
        </div>
    </header>
    <main>
        <section class="about-me-section">
            <img src="/images/foto-cv.jpg" alt="Lucas-foto-cv">
            <h1>Lucas Silva.</h1>
            <h2>Full Stack Web Developer.</h2>
            <div class="div-links">
                <h2> Contact Me </h2>
                <a href="https://github.com/SilvaLucas92" target="_blank"><i class='bx bxl-github'></i></a>
                <a href="https://www.linkedin.com/in/lucas-silva-b99518216"><i class='bx bxl-linkedin-square'></i></a>
            </div>
            <article class="about-me-art">
                <h2>01- About Me</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur, adipisci totam! At quae nemo voluptatem. Quis modi voluptatum velit. Similique consectetur quibusdam odit ad voluptates officia iusto, voluptate facilis voluptas quo tenetur, consequatur inventore minima unde, sunt expedita cumque et. Qui ullam fugiat illo sed nisi tenetur, magni quam eius?</p>
            </article>
        </section>
        <div class="skill-div">
            <h2>02- Skills</h2>
            <ul class="skills-ul">
                <li><img src="/images/aa.webp" alt="css"></li>
                <li><img src="/images/html2.png" alt="html"></li>
                <li><img src="/images/descarga.png" alt="nodejs"></li>
                <li><img src="/images/Javascript_Logo.png" alt="js"></li>
                <li><img src="/images/my1.png" alt="mysql"></li>
                <li><img src="/images/github.png" alt="github"></li>
                <li><img src="/images/atom.png" alt="react"></li>
            </ul>
        </div>
        <section class="projects-section">
            <h2>03- Projects</h2>
            <div class="all-art">
                <article class="projects-art">
                    <img src="/images/login.png" alt="">
                    <div class="art-text">
                        <a href="https://login-register-process.herokuapp.com/"><h3>Hola</h3></a>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                </article>
                <article class="projects-art">
                    <img src="/images/crud.png" alt="">
                    <div class="art-text"> 
                        <a href="https://crud-project-viena.herokuapp.com/"><h3>Hola</h3></a>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                </article>
                <!-- <article class="projects-art">
                    <img src="/images/css-3.png" alt="">
                    <a href=""><h3>Hola</h3></a>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </article>
                <article class="projects-art">
                    <img src="/images/css-3.png" alt="">
                    <a href=""><h3>Hola</h3></a>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </article>
                <article class="projects-art">
                    <img src="/images/css-3.png" alt="">
                    <a href=""><h3>Hola</h3></a>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </article>
                <article class="projects-art">
                    <img src="/images/css-3.png" alt="">
                    <a href=""><h3>Hola</h3></a>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </article> -->
            </div>    
        </section>
    </main>
    <footer class="footer-lucas">
        <p>Lucas Silva - 2022</p>
    </footer>
</body>
<script src="/js/main.js"></script>
</html>